# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.venv/
venv/
*.db

# =========================
# Test / coverage artifacts
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# OS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.idea/